.container {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.Logo {
  width: 200px;
  margin-left: 38%;
  border-radius: 120px;
  border-style: solid;
}
.apresentacao {
  font-family: cursive;
}
.comentario {
  font-family: cursive;
}
